<div class="container">
	<h1>Israel Hernandez</h1>

	<div class="column1">
		<h2><%=t 'israel.video1' %></h2>
		<iframe width="370" height="307" src="http://www.youtube.com/embed/DyrKoRK1NGE?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="column2">
		<h2><%=t 'israel.video2' %></h2>
		<iframe width="369" height="240" src="http://www.youtube.com/embed/IvFB37wFgrM?rel=0" frameborder="0" allowfullscreen></iframe>

		<p><a href="#"><%=t 'israel.dvd_info' %></a></p>
	</div>
</div>

<style type="text/css" media="screen">
	.column1, .column2{
		width: 375px;
	}
	.column1{
		margin-right: 75px;
	}
</style>